
# WAppRelay - env Variables

# --- WhatsApp Cloud API (Meta for Developers) ---

VERIFY_TOKEN=une_chaine_secrete_longue

# Récupéré de: Meta Dashboard > App Settings > Basic > App Secret
APP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


ACCESS_TOKEN=EAAGxxxxxxxxxxxxxxxxxxxxxxxx

# ID numérique du numéro de téléphone du BOT
# Récupéré dans : WhatsApp > API Setup > Phone number ID
PHONE_NUMBER_ID=123456789012345

# numéro du destinataire fixe
RELAY_TARGET_NUMBER=22990000000